---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import WorkLink from "../components/WorkLink.astro";

import { getCollection } from "astro:content";
const PortfolioCollection = await getCollection("portfolio");

const pageTitle = "Gallery";
---

<Layout title="Lisa's Gallery">
  <h2>{pageTitle}</h2>
  <p>Hier vind je wat werk waar ik blij van word of trots op ben.
    <br>
    <em>In Progress</em>

  </p>
  <ul>
    {
      PortfolioCollection.map((portfolio) => (
        <WorkLink
          url={`/portfolio/${portfolio.data.slug}`}
          title={portfolio.data.title}
          image={portfolio.data.image}
          description={portfolio.data.description}
          tags={portfolio.data.tags}
        />
      ))
    }
  </ul>
</Layout>