---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getCollection } from "astro:content";
const PortfolioCollection = await getCollection("portfolio");

const pageTitle = "Gallery";
---

<Layout title="Lisa's Gallery">
  <h2>{pageTitle}</h2>
  <p>
    Hier vind je wat werk waar ik blij van word of trots op ben.
    <br />
    <em>In Progress</em>
  </p>
  <ul>
    {
      PortfolioCollection.map((portfolio) => (
        <Card
          url={`/portfolio/${portfolio.data.slug}`}
          title={portfolio.data.title}
          image={portfolio.data.image}
          description={portfolio.data.description}
          tags={portfolio.data.tags}
          date={portfolio.data.date}
        />
      ))
    }
  </ul>
</Layout>

<style>
  @media (min-width: 768px) {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
</style>
