---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/large/Card.astro";

const allPosts = await getCollection("talks");
---

<Layout title="Lisa's WeLoveWeb">
  <h2>We Love Web</h2>
  <ul>
    {
      allPosts.map((talk) => (
        <Card url={`/talks/${talk.slug}`} 
          title={talk.data.title} 
          description={talk.data.description}
          date={talk.data.date} 
          tags={talk.data.tags} />
      ))
    }
  </ul>
</Layout>