---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <!-- <p>{frontmatter.pubDate.toLocaleDateString()}</p> -->
  <p><em>{frontmatter.description}</em></p>
  <Image
    src={frontmatter.image.url}
    width="300"
    height="200"
    alt={frontmatter.image.alt}
  />

  <ul>
    {
      frontmatter.relatedPosts.map((post: string) => (
        <li>
          <a href={`/posts/${post}`}>{post}</a>
        </li>
      ))
    }
  </ul>

  <slot />
</BaseLayout>

<style>
  img {
    object-fit: cover;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
